<section class="property-binding">
  <article>
    <h3>Class e Style com binding</h3>
     <div>
      Selecione uma classe:
      <select #classe (change)="0">
         <option value="alert-success">Sucesso</option>
         <option value="alert-info">Informação</option>
         <option value="alert-warning">Alerta</option>
         <option value="alert-danger">Erro</option>
      </select>
      <br><br>

      <div class="alert {{classe.value}}">
           Texto colorido comforme o valor do combobox.
      </div>
      <br>
      <div class="alert" role="alert"
       [class.alert-success]="classe.value == 'alert-success'">
        A simple success alert—check it out!
      </div>
      <div class="alert" role="alert"
      [class.alert-info]="classe.value == 'alert-info'">
        A simple info alert—check it out!
      </div>
      <div class="alert" role="alert"
      [class.alert-warning]="classe.value == 'alert-warning'">
        A simple warning alert—check it out!
      </div>
      <div class="alert" role="alert"
      [class.alert-danger]="classe.value == 'alert-danger'">
        A simple danger alert—check it out!
      </div>
      <br>
      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger'? 'block': 'none'">
        Este texto somente aparece so em caso de erro
      </div>


     </div>
  </article>
</section>
